
.table  {
    font-size: 12px;
    border: 0px;
}

table { border-collapse:collapse }

.header-cell{
    font-weight: bold;
    white-space: nowrap;
}

thead input {
    width: 100%;
}

.cell{
    white-space: nowrap;
}

.header-row{
    background-color: #F8F8F8;
    border-bottom: none;
}

.header-row tr th{
    background-color: #F8F8F8;
    border-bottom: none;
}
div.dataTables_scrollBody {
    border-left: 0px !important;
}


.dataTables_scrollHeadInner
{
    border-bottom: none;
    padding-bottom: 10px;
    background-color: #F8F8F8;
}

table.dataTable{
    margin-top: 0px !important;
}

.dataTables_scroll{
    border: 1px solid #C8C8C8;
    border-radius: 4px;
}

thead > tr {
    text-align: center;
}

td, th {
    border:none;
}

.card-sheet-name{
    border-style: hidden;
}

.image{
    float: left;
    width: 100%;
    padding: 5px;
}

#table_0_wrapper .row:first-child{
    display: none;
}

.navbar-nav .nav-link.active{
    color: blue !important;
    font-weight: bold;
    padding-left: 0;
}




#table_0_wrapper{
    margin-top: 10px
}
