h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
}

.filter-buttons  button {
  padding: 0 5px;
}

.filter-buttons  button svg {
  padding-top: 5px;
}

.table {
  font-size: 12px;
  border: 0;
}

table {
  border-collapse: collapse
}

.tables_1_table_block {
  max-width: 1700px;
  padding: 15px 0 30px;
}

.header-cell {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

table.dataTable thead > tr > th {
  text-align: center;
  text-transform: uppercase;
}

thead input {
  width: 100%;
}

.cell {
  white-space: nowrap;
  text-align: center;
}

.header-row {
  background-color: #F8F8F8;
  border-bottom: none;
}

.header-row tr th {
  background-color: #F8F8F8;
  border-bottom: none;
}

div.dataTables_scrollBody {
  border-left: 0px !important;
}


.dataTables_scrollHeadInner {
  border-bottom: none;
  padding-bottom: 10px;
  background-color: #F8F8F8;
}

table.dataTable {
  margin-top: 0px !important;
}

.dataTables_scroll {
  border: 1px solid #C8C8C8;
  border-radius: 5px;
}

.dataTables_scroll table tr.odd {
  background: #FFFFFF;
}

.dataTables_scroll table tr.even {
  background: #F8F8F8;
}

table.dataTable.table-striped > tbody > tr.odd > * {
  box-shadow: none;
}

thead > tr {
  text-align: center;
}

td, th {
  border: none;
}

.card-sheet-name {
  border-style: hidden;
}

#table_0_wrapper .row:first-child,
#table_1_wrapper .row:first-child,
#table_2_wrapper .row:first-child,
#table_3_wrapper .row:first-child
{
  display: none;
}

.navbar-nav .nav-link.active {
  color: blue !important;
  font-weight: bold;
  padding-left: 0;
}


#table_0_wrapper {
  margin-top: 10px
}


.charts-xls .tab-navigation ul {
  display: flex;
  list-style: none;
  padding: 40px 0 26px 0;
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.charts-xls .tab-navigation ul li {
  margin-right: 20px;
}

.charts-xls .tab-navigation ul li a {
  color: #000000;
}

.charts-xls .tab-navigation ul li a.active {
  color: #0084FF;
  font-weight: 700;
}

.charts-xls .si-images {
  display: flex;
}

.charts-xls .si-images .image-block .header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  padding-bottom: 15px;
}

.charts-xls .si-images .image-block .image-div {
  margin-right: 30px;
}

#table_0_wrapper {
  max-width: 1910px;
}


.dataTables_info {
  display: none;
}

.charts-xls .charts-wrapper .row {
  display: flex;
  width: 100%;
  padding-bottom: 150px;
}

.charts-xls .charts-wrapper .row .col-10 {
  width: 80%;
  padding-left: 20px;
}

.charts-xls .charts-wrapper .row .col-2 {
  width: 20%;
}

.charts-xls .charts-wrapper .row .table-table_name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.sheet_2, .sheet_3 {
  padding-top: 30px;
}

.sheet_2 .dataTables_wrapper .row .col-sm-12,
.sheet_3 .dataTables_wrapper .row .col-sm-12 {
  margin: 0 auto;
}

.sheet_2 .dataTables_wrapper .row,
.sheet_3 .dataTables_wrapper .row {
  padding-bottom: 0;
}

table.tables_1 {
  width: 100%
}

.charts-xls .row .card-sheet-name {
  padding: 30px 0 10px 0;
}

body.pc-theme-dark .site-content {
  background-color: #191b23;
  color: white;
}

body.pc-theme-dark .site-content h1,
body.pc-theme-dark .site-content h5 {
  color: white;
}

body.pc-theme-dark .charts-xls .tab-navigation ul li a {
  color: white;
}

body.pc-theme-dark .charts-xls .tab-navigation ul li a.active {
  color: #56606e !important;
}

body.pc-theme-dark .charts-xls .header-row,
body.pc-theme-dark .charts-xls .dataTables_scrollHeadInner,
body.pc-theme-dark .charts-xls .dataTable thead {
  background-color: #181b23;
}


body.pc-theme-dark .charts-xls .dataTables_scroll {
  border: 1px solid #000000;
}

body.pc-theme-dark .charts-xls .dataTables_scroll table tr.odd {
  background: #3a3c46;
}

body.pc-theme-dark .charts-xls .dataTables_scroll table tr.even {
  background: #565863;
}

.btn-grey {
  background: rgb(69,69,69);
  background: linear-gradient(0deg, rgba(69,69,69,1) 0%, rgba(109,111,108,1) 100%);
  border-radius: 7px;
  border: 0;
}
